@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@font-face {
    font-family: WhitneyBook;
    src: url(fonts/whitneybook.ttf);
}

@font-face {
    font-family: WhitneyMedium;
    src: url(fonts/whitneymedium.ttf);
}

body::after{
    position: absolute; width: 0; height: 0; overflow: hidden; z-index: -1;
    content: url(assets/about_image1.png) url(assets/about_image2.png) url(assets/about_image3.png) url(assets/about_image4.png) url(assets/about_image5.png) url(assets/about_image6.png);
}

body {
    margin: 0 2rem;
}

::selection {
    background-color: #ded7f5;
}

a {
    color: rgba(115, 82, 212, 0.8);
}

a:hover {
    color: rgba(115, 82, 212, 0.5);
}

a:active {
    color: rgba(115, 82, 212, 0.2);
}