.blog_container {
    width: 80%;
    margin-inline: auto;
}

.blog_post {
    border-left: solid 3px #ded7f5;
    padding-left: 1rem;
    font-family: 'Lora';
    margin-block: 2rem;
}

.blog_post h1, .blog_post h3 {
    font-family: 'Libre Bodoni';
}

.blog_post h3 {
    margin-top: -1rem;
}

.blog_post img {
    width: 100%;
    max-width: 40rem;
}

@media (max-width: 992px) {
    .blog_container {
        width: 90%;
    }

    .blog_post img {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .blog_container {
        width: 95%;
    }

    .blog_post {
        padding-left: 0.5rem;
    }

    .blog_post h1 {
        font-size: 1.5rem;
    }

    .blog_post h3 {
        font-size: 1rem;
    }

    .blog_post img {
        width: 100%;
    }
}