.admin_wrapper {
    padding: 20px;
}

.admin_formGroup {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.admin_titleInput {
    font-family: 'Lora';
    font-size: 1.2rem;
    height: 1.2rem;
    outline: none;
    border: 0.1rem solid #ded7f5;
    padding: 0.5rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    margin-top: 1rem;
}

.quill {
    font-family: 'Lora';
    font-size: 1rem;
    outline: none;
    border: 1px solid #ded7f5;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    vertical-align: middle;
    min-height: 10rem;
    margin-top: 1rem;
}

.ql-container {
    font-family: 'Lora';
    font-size: 1rem;
    min-height: 10rem;
}

/* Media Queries for responsiveness */
@media (max-width: 992px) {
    .admin_wrapper {
        padding: 15px;
    }

    .admin_titleInput {
        font-size: 1rem;
        height: 1rem;
    }

    .quill {
        font-size: 0.9rem;
    }

    .ql-container {
        font-size: 0.9rem;
    }
}

@media (max-width: 576px) {
    .admin_wrapper {
        padding: 10px;
    }

    .admin_titleInput {
        font-size: 0.8rem;
        height: 0.8rem;
    }

    .quill {
        font-size: 0.8rem;
    }

    .ql-container {
        font-size: 0.8rem;
    }
}

.tables_container {
    margin-top: 60px;
}

.scrollable_container {
    overflow-x: auto;
    margin-bottom: 20px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollable_container::-webkit-scrollbar {
    display: none;
}

.data_table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 60px;
    font-family: 'Lora';
}

.data_table th,
.data_table td {
    min-width: 200px;
    padding: 12px;
    text-align: left;
    border: 1px solid rgba(115, 82, 212, 0.8);
}

.data_table th {
    background-color: #ded7f5;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
}

.data_table td {
    font-size: 1rem;
    background-color: #f9f9f9;
}

.table_header {
    color: rgba(115, 82, 212, 0.8);
    font-size: 1.8rem;
    margin-bottom: 10px;
    text-align: center;
}